body{
	font : times new roman italic ; 
} 
h1{
	color: maroon ; text-decoration : underline ; text-align : center ; 
}
#over{
	text-decoration : overline ; background-color: yellow ;
}
h3{
	text-decoration : underline ;
}
#bar{
	text-decoration : line-through ;
}
#bgi{
	background-image: url(Photos/gazo.jpg); background-repeat: no-repeat;  
}
h2{
	text-decoration : underline ; color: maroon
}
.disc{
	list-style-type : disc ;
}
.cercle{
	list-style-type : circle ;
}
.carre{
	list-style-type : square ;
} 
.rien{
	list-style-type : none ;
}
.commence_a_zero{
	list-style-type: decimal-leading-zero;
}
.lettres_minuscules{
	list-style-type: lower-alpha;
}
.chiffres_romains{
	list-style-type: upper-roman;
}
.lettres_grecques{
	list-style-type: lower-greek;
}
em{
	background-color: yellow;
}
strong{
	color: red;
}
h4{
	text-indent: 20px ; font-family: Arial, Verdana, "Times New Roman", serif;
}
td{
	border: 1px solid black;
}
caption{
	text-decoration : underline ;
}
th{
	border: 1px solid black;
}
#sp{
	background-color : green ; color : red ; 
}
#fond{
	background-image : url(Photos/cubes.jpg) ; background-repeat: no-repeat;
}
#styl1{
	border-style : dotted ; border-width : thick ; border-color : black ; width : 550px ; height : 150px ; text-align: justify; padding: 12px ; margin: auto; margin-bottom: 20px; 
}
#styl2{
	border-style : double ; border-width : thick ; border-color : black ; width : 550px ; height : 50px ; text-align: justify; padding: 12px ; margin: auto; margin-bottom: 20px;
}
.styl3{
	border-style : solid ; border-width : thick ; border-color : black ; width : 550px ; height : 50px ; text-align: justify; padding: 12px ; margin: auto; margin-bottom: 20px;
}
.rigth{
	margin rigth :0px ;
}

#abcs{
	transform : rotate(270deg) ;
}
.abc{
	transform : rotate(-30deg) ;
}
.l{
	height : 50px
}
#ac{
	background-image : url(Photos/eau.png); background-repeat: no-repeat
}

